*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
}
  

.main {
    /* width: 100%; */
    min-height: 100vh;
    background-color: #F3DFDF;
    padding: 80px 0;   
}

.todo-app{
    width: 100%;
    max-width: 800px;
    margin: 10px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;  
}

.todo-app h2{
  color: #988AE1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  line-height: 1.66;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
}

.todo-app img{
    width: 50px;
    margin-left: 10px;
    height: 45px;
}

.input-container form{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}


.input-container img{
    width: 20px;
    height: 20px;
    margin-right: 9px;
}

input{
    position: relative;
    /* justify-content: space-evenly; */
    /* flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 20px;  */
}

#myInput{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    /* padding: 2px; */
  }

#due-date{
    /* font-size: 12px; */
    /* width: 20px; */
    background: transparent;
    display: block;
    border: none;
    outline: none;
    margin-right: 200px;
}


#todo-form button{
    border: none;
    outline: none;
    display: flex;
    padding: 20px 50px;
    background: #F5C7C5;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
  }

button:hover{
  background: #E2A49C;
}
  

img {
    max-width: 100%;
    height: auto; }


    /* .filters {
        width: 80%;
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
      }
    
      .filter {
        color: #B19C7D;
        padding: 5px 15px;
        border-radius: 100px;
        border: 2px solid #b6977d;
        background-color: #FFF0DC;
        transition: all 0.2s ease;
        cursor: pointer;
      }
      
      .filter.active, .filter:hover {
        background-color: #FFFBF0;
      } */

.container {
    width: 60%;
    min-height: 50vh;
    background: white;
    margin: 0 auto; 
    box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05); 
    border-radius: 45px;
    -moz-border-radius: 45px;
    -webkit-border-radius: 45px;
    -o-border-radius: 45px;
    -ms-border-radius: 20px; 
}   


ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 80px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    border: 2px none #B19C7D;
    border-radius: 80px;
}

ul li::before{
    content: '';
    position: absolute;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-image: url(images/radio.png); 
    background-size: cover;
    background-position: center;
    top: 9px;
    left: 0px;
}

ul li.checked{
    color: #b6977d;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/radio-filled.png); 
}

/* span is the x mark to remove the task */
ul li span{
    position: absolute;
    right: 20px;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

/* gives user feedback when hovering over the remove (x) symbol */
ul li span:hover{
    background: #edeef0;
}

.priority-low {
    border: 2px none #4caf50;
    border-radius: 80px;
    background-color: #e6f7e8;
    margin-bottom: 20px;
  }

  .priority-medium {
    border: 2px none #ffc107;
    border-radius: 80px;
    background-color: #fffde7;
    margin-bottom: 20px;

  }

  .priority-high {
    border: 2px none #f44336;
    border-radius: 80px;
    background-color: #ffebee;
    margin-bottom: 20px;
  }


  #tabs {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 25px;
  }

#tabs button{
    color: #B19C7D;
    padding: 5px 15px;
    border-radius: 100px;
    border: 2px solid #b6977d;
    background-color: #FFF0DC;
    transition: all 0.2s ease;
    cursor: pointer;
      
}

#tabs button:hover{
    background-color: #fffbf0;
}